{% extends 'base.html.twig' %}

{% block body %}
    <h1>Create a Pokemon !</h1>

    {{ form_start(pokemon) }}
    {{ form_row(pokemon.name) }}
    {{ form_row(pokemon.type) }}

    <ul class="attacks list-group"
        data-index="{{ pokemon.attacks|length > 0 ? pokemon.attacks|last.vars.name + 1 : 0 }}"
        data-prototype="{{ form_widget(pokemon.attacks.vars.prototype)|e('html_attr') }}"
    >
        {% for attack in pokemon.attacks %}
            <li class="list-group-item d-flex justify-content-between align-items-center">{{ form_row(attack.name) }}</li>
        {% endfor %}
    </ul>
    {{ form_errors(pokemon.attacks) }}
    <button type="button" class="add_item_link btn-secondary btn" data-collection-holder-class="attacks">Add an attack</button>
    {{ form_end(pokemon) }}
    
    <script type="text/javascript">
        const addAttackFormDeleteLink = (item) => {
            const removeFormButton = document.createElement('button');
            removeFormButton.innerText = 'X';
            removeFormButton.setAttribute('class', 'btn btn-danger');
            removeFormButton.setAttribute('aria-label', 'Delete this attack');

            item.append(removeFormButton);

            removeFormButton.addEventListener('click', (e) => {
                e.preventDefault();
                // remove the li for the attack form
                item.remove();
            });
        }

        const addFormToCollection = (e) => {
            const collectionHolder = document.querySelector('.' + e.currentTarget.dataset.collectionHolderClass);

            const item = document.createElement('li');
            item.setAttribute('class', 'list-group-item d-flex justify-content-between align-items-center');

            item.innerHTML = collectionHolder
                .dataset
                .prototype
                .replace(
                    /__name__/g,
                    collectionHolder.dataset.index
                );

            collectionHolder.appendChild(item);
            collectionHolder.dataset.index++;
            addAttackFormDeleteLink(item);
        };

        document
            .querySelectorAll('.add_item_link')
            .forEach(btn => {
                btn.addEventListener("click", addFormToCollection)
            });

        document
            .querySelectorAll('ul.attacks li')
            .forEach((attack) => {
                addAttackFormDeleteLink(attack)
            })
    </script>
{% endblock %}
